/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Here is one of many  CSS rules you will need... */
#one {
    position: fixed;
    border: 5px solid red;
    margin: 5px;
    padding: 5px;
    width: 25%;
    bottom: 5px;
    right: 5px;
}

#two {
    position: fixed;
    border: 5px solid blueviolet;
    margin: 5px;
    padding: 5px;
    width: 25%;
    top: 5px;
    right: 5px;
}

#three {
    position: fixed;
    border: 5px solid green;
    margin: 5px;
    padding: 5px;
    width: 25%;
    top: 5px;
    left: 5px;
}

#four {
    position: fixed;
    border: 5px solid orange;
    margin: 5px;
    padding: 5px;
    width: 25%;
    bottom: 5px;
    left: 5px;
}

#link :any-link {
    position: relative;
    left: 50%;
    margin-left: -1em;
    background-color: #0a4b33;
    font-family: 'Roboto', Corbel, Avenir, 'Lucida Grande', 'Lucida Sans', sans-serif;
    text-decoration: none ;
    color: #EEEEEE;
}
